/* ===== Reset start ===== */
*{
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
body{
	margin: 0;
	background-color: #fff;
	color: #777;
	font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
input,
textarea,
button{
	outline: none;
	border: none;
}
button {
	cursor: pointer;
    padding: 0;
}
textarea{
	resize: vertical;
}
input[type="submit"]{
	cursor: pointer;
}
blockquote {
	margin: 0;
}
/* ===== Reset end ===== */
/*====Default classes start====*/
/*
	text color, text align, float, backgrounds colors, text transform,
*/
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}

.bg-black{
	background-color: #111;
}
.bg-grey{
	background-color: #f8f8f8;
}
.m-auto{
	float: none;
	margin: 0 auto;
}
/*====Default classes end====*/

/*=====Default components start ====*/
/*
 	Buttons, text, title, section, header, footer,
 	form elements, icons, tabs, blockquote, container
 */
.default-section{
	padding: 135px 0;
}
.small-section{
	padding: 70px 0;
}
.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.container-fluid{
	max-width: 1600px;
	padding: 0 15px;
	margin: auto;
}
.title{
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #111;
}
.title.title-white{
	color: #fff;
}
.title.section-title{
	font-size: 18px;
	letter-spacing: .5em;
	margin-bottom: 75px;
	font-weight: 400;
}
.title.section-title-light{
	font-size: 18px;
	letter-spacing: .3em;
	margin-bottom: 20px;
	font-weight: 300;
}
.default-text{
	font-size: 15px;
	line-height: 1.733;
	font-weight: 300;
}
blockquote,
.blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span,
.blockquote span{
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.btn{
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
    letter-spacing: .2em;
}
.btn.btn-default{
	background-color: #e5e5e5;
	color: #777;
}
.btn.btn-default:hover{
	background-color: #d1d0d0;
	color: #777;
}
.btn.btn-black{
	color: #fff;
	background-color: #323232;
}
.btn.btn-black:hover{
	background-color: #000;
}
.btn.btn-xs{
	padding: 7px 15px;
	font-size: 11px;
}
.btn[disabled]{
	cursor: not-allowed;
	opacity: .6;
}
.form-control{
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 36px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding: 0 13px;
}
.form-control:focus{
	border-color: #111;
}
textarea.form-control{
	min-height: 82px;
	padding-top: 10px;
}
.form-control[disabled],
.form-control.disabled{
	cursor: not-allowed;
}
.form-control.error{
	border-color: #f57e7e;
}
.form-info{
    font-size: 11px;
    font-weight: 400;
    color: #aaa;
}
.form-info .fa{
    font-size: 12px;
}
.rhomb-icon{
	display: inline-block;
	width: 23px;
	height:23px;
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	transform: rotate(45deg);
}
.rhomb-icon i {
	transform: rotate(-45deg);
}
.rhomb-icon.black-icon{
	color: #fff;
	background-color: #111;
}
.rhomb-icon.transparent-icon{
    color: #111;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.9);
}
.rhomb-icon.white-icon{
    color: #111;
    background-color: #fff;
}
/*=====Default components end ====*/

/*====Guide style start ====*/
.guide-section form .form-control{
	margin-bottom: 10px;
}

/*====Guide style start end ====*/

/*=====Customs style start ====*/
.header {
	position: fixed;
	width: 100%;
	z-index:99;
	padding: 27px 0;
	overflow: hidden;
}
.logo{
	float: left;

}
.header-nav{
	float: right;

}
.header .header-nav li{
	float: left;
	line-height: 31px;
	color: rgba(255, 255, 255, .75);
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: 11px;
}
.header .header-nav li + li{
	margin-left: 35px;
}

/*--Inner----*/

.inner{
	background: url('../img/inner-bg.jpg') no-repeat center / cover;
	height: 100vh;
	text-align: center;
	padding-top: 87px;
    position: relative;
}
.inner:before{
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}
.inner-content{
	display: inline-block;
	vertical-align: middle;
}
.inner-content h1{
	letter-spacing: 53px;
	text-indent: 53px;
	text-transform: uppercase;
	margin-bottom: 102px;
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: rgba(255, 255, 255, .9)
}
.inner-content span{
	font-size: 19px;
	font-weight: 300;
	color: rgba(255, 255, 255, .68)
}
.inner .inner-icon{
    position: absolute;
    bottom: 36px;
    left: 50%;
    width: 26px;
    height: 26px;
    font-size: 15px;
}
.inner .inner-icon i{
    position: absolute;
    left: 9px;
    bottom: 2px;
}

/*--Inner-end---*/

/*--About-studio----*/
.team-item .team-item-jpg{
	position: relative;
}
.team-item .team-item-skills{
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: all .2s linear;
	padding: 40px;
}
.team-item .team-item-jpg:hover .team-item-skills{
	opacity: 1;
}
.team-item .team-item-skills .section-title{
	margin-bottom: 31px;
	letter-spacing: .3em;
}
.team-item .team-item-skills .skills-text{
	color: rgba(255, 255, 255, .5);
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 46px;
}
.team-item  .skills-items .skills-items-title{
	display: block;
	font-size: 11px;
	font-weight: 400;
	line-height: 3.45em;
	padding: 20px 0 7px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .9);
}
.team-item  .skills-items .skills-items-title{
	display: block;
}
.skills-items .skills-items-line{
	position: relative;
}
.team-item .skills-items .line-transparent{
	position: absolute;
	width: 100%;
	height: 12px;
	background-color: rgba(255, 255, 255, .15);
}
.team-item .skills-items .line-white{
	position: absolute;
	width: 0;
	height: 12px;
	transition: .9s linear;
}
.team-item .team-item-jpg:hover .line-white{
	width: 70%;
	background-color: #fff;
}

.team-item-info span{
	display: block;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	letter-spacing: .3em;
}
.team-item-info .team-item-name{
	font-size: 15px;
	margin: 31px 0 16px;
}
.team-item-info .team-item-role{
	font-size: 12px;
	font-family: 'Dosis', sans-serif;
}
/*----About-studio-end----*/

/*----Services----*/
#tabs .tabs-nav {
	overflow: hidden;
	margin-bottom: 79px;
}

#tabs .tabs-nav li{
	float: left;
	width: 20%;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
#tabs .tabs-nav .ui-state-active{
	color: #111;
}
#tabs .tabs-nav li span{
	display: block;
}
#tabs .tabs-nav li .icon{
	font-size: 48px;
	margin-bottom: 35px;
}
#tabs .tabs-nav li .tabs-nav-title {
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .4em;
	text-transform: uppercase;
}

/*----Services end----*/
/*----lets-talk----*/
.lets-talk .lets-talk-content{
	padding: 140px 0;
}
.lets-talk .lets-talk-content p{
	color: rgba(255, 255, 255, .7);
	margin-bottom: 35px;
}
.lets-talk-img{
	margin-top: -32px;
}
.lets-talk .lets-talk-content .btn{
	font-family: 'Open Sans', sans-serif;
}
/*----lets-talk end----*/

/*----portfolio---- */
.portfolio .default-section  {
	padding-bottom: 0;
}
.portfolio .portfolio-text{
	max-width: 760px;
	margin: 0 auto 85px;
}
#portfolio .tabs-nav{
	text-align: center;
	font-family: 'Dosis', sans-serif;
	letter-spacing: .4em;
	overflow: hidden;
	margin-bottom: 51px;
}
#portfolio .tabs-nav li{
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
}
#portfolio .tabs-nav .ui-state-active{
	color: #111;
}
#portfolio .tabs-nav li + li{
	margin-left: 69px;
}
#portfolio .row{
	overflow: hidden;
}
#portfolio .portfolio-item{
	margin: 0 -4px;
}
#portfolio .portfolio-items{
	float: left;
	max-width: 33.3333%;
	padding: 4px;
}
#portfolio .portfolio-items img{
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: .2s;
}
#portfolio .portfolio-items img:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/*----portfolio end----*/

/*----start-project----*/
.start-project .section-title-light{
	margin-bottom: 25px;
}
/*----start-project end----*/

/*----why-choose-us----*/
.why-choose-us{
	border-bottom: 1px solid #ececec;
}
.why-choose-us .title{
	margin-bottom: 90px;
}
.why-choose-us .why-choose-us-benefits .icon{
	font-size: 48px;
}
.why-choose-us .why-choose-us-benefits .title{
	margin: 35px 0;
	letter-spacing: .4em;
	font-weight: 400;
}
.why-choose-us .why-choose-us-benefits span,
.latest-news .latest-news-post span{
	display: block;
}
.why-choose-us .row + .row{
	margin-top: 86px;
}

/*----why-choose-us-end---*/

/*----review carousel----*/
.reviews-carousel{
    padding: 135px 0;
	overflow: hidden;
}
.slick-dots{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
}
.slick-dots li{
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots li button{
    display: none;
}
.slick-dots li + li{
    margin-left: 5px;
}
.slick-dots li.slick-active{
    background-color: #000;
    border-color: rgba(255, 255, 255, .8);
}
.slick-arrow{
    position: absolute;
    height: 100%;
	width: 90px;
    top: 0;
	z-index: 1;
	cursor: pointer;
}
.slick-arrow.slick-prev{
    left: 0;
}
.slick-arrow.slick-next{
    right: 0;
}
.slick-arrow.slick-next .carousel-button{
	right: 0;
    margin-right: -31px;
}
.slick-arrow .carousel-button{
    width: 63px;
    height: 63px;
    background-color: #fff;
    transform: rotate( 45deg);
    position: absolute;
    top: 50%;
    margin-left: -32px;
    margin-top: -31px;
}
.slick-arrow .carousel-button .fa{
    position: absolute;
    transform: rotate(-45deg);
    font-size: 10px;
}
.slick-arrow.slick-prev .carousel-button .fa{
    bottom: 38px;
    right: 15px;
}
.slick-arrow.slick-next .carousel-button .fa{
    top: 41px;
    left: 15px;
}
.slide-content .section-title-light{
	margin-bottom: 44px;
}
.slide-content .icon{
    font-size: 32px;
    color: #fff;
	margin-bottom: 23px;
}
.slide-content .slide-content-text{
	max-width: 733px;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6em;
	color: rgba(255, 255, 255, .75);
	margin: 0 auto 26px;
}
/*----review carousel end----*/

/*----latest news----*/
.latest-news .title{
	margin-bottom: 80px;
}
.latest-news .title span{
	display: block;
}
.latest-news .latest-news-post .latest-news-post-img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: .2s;
}
.latest-news .latest-news-post:hover .latest-news-post-img{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.latest-news .title .latest-news-header-link,
.latest-news .latest-news-post .latest-news-post-author{
	float: right;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: .4em;
}
.latest-news .latest-news-post .latest-news-post-author {
	float: none;
	text-transform: uppercase;
	margin-bottom: 27px;
	font-family: 'Dosis', sans-serif;
}
.latest-news .latest-news-post .title{
	margin: 30px 0 17px;
	letter-spacing: .2em;
}
.latest-news .latest-news-post .default-text{
	margin-bottom: 25px;
}

/*----latest news end----*/


/*----subscribe----*/

.subscribe form .form-control{
	max-width: 290px;
}
.subscribe form .btn{
	font-family: 'Open Sans', sans-serif;
}
.subscribe .form-info {
    margin-top: 17px;
}
/*----subscribe end----*/

/*----contacts----*/
.contacts .contact-item-content{
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.contacts .contact-item-content span{
	display: block;
}
.contacts .contact-item-content .contact-title{
	color: #777;
	font-family: 'Dosis', sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .3em;
}
.contacts .contact-item-content .contact-data{
	color: #444;
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
}
/*----contacts end----*/

/*---footer ----*/
.footer{
    display: block;
    background-color: #fff;
}
.footer-logo{
    padding-top: 140px;
    margin-bottom: 25px;
}
.footer .footer-item{
    display: inline-block;
    margin-bottom: 109px;
}
.footer .footer-item .transparent-icon{
    margin-left: 13px;
}
.footer .footer-signature span{
    display: block;
}
.footer .footer-signature .title-signature{
    color: #111;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 2em;
}
.footer .footer-signature .title-text{
    color: #999;
    font-size: 11px;
    padding-bottom: 58px;
}
/*---footer end ----*/
/*=====Customs style end ====*/






















